@charset "UTF-8";
@font-face {
    font-family: 'IDroid';
    src: url('fontes/IDroid.otf');
}
*{
    box-sizing: border-box;
}


body{
    background-color: #84E1AD;
    margin: 0px;
    padding: 0px;

    

}
header{
    background-color: #2C9D5E;
    padding: 10px;
    width:100% ;
    text-transform: capitalize;
   

    }
h1{
    color: white;
    text-align: center;
    padding: 10px;
    font-style:initial ;

}
header > p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;

    
}
nav{
    text-align: left;
    color: white;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
nav > a {
    margin-right: 10px;
    color: white;
    font-weight: bold ;
    text-decoration: none;
    font-size: auto;
    

    
}
.h3> h3{
    font-family: IDroid, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #186239;
    background: linear-gradient(45deg, #2c9d5f32, white);
    padding-left: 10px;
    
    
    
    
}
.h3> p{
    text-indent: 20px;
    text-align: left;
    font-size: 18px ;
    text-align: justify;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
    
section#historia > h2{
    font-family: IDroid, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #186239;

}
section#historia >p{
     text-indent: 20px;
    text-align: left;
    font-size: 18px ;
    text-align: justify;

}
#video {
    background-color: #186239;
    padding: 20px 10px;
    
}
iframe{
    max-width: 100%;
    max-height: 100%;
}
aside{
    text-indent: 20px;
    text-align: left;
    padding: 10px 10px;
    font-size: 18px;

}
#aprender-mais{
    background-color: white;
    max-width: 100%;
   
    
}

section>h4 {
    background-color: #39cc7b;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    text-align: left;

}   

main{
    background-color: white;
    width:100%;
    max-width: 800px;
    height: auto;
    text-align: center;
    margin: auto;
    padding: 10px 10px;

}
picture>p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list {
  list-style: none; 
  padding-left: 10px;
  text-align: left;
  padding:0px 10px 20px 10px ;
}
.listcomplet{
    display: flex;
    gap: px;
    text-decoration: none;
}

.list li::before {
  content: "✔ ";
  color: black;
  font-weight: bold;
  
  
}
abbr[title]{
    text-decoration: none !important;
    border-bottom: none !important;
    cursor: auto;
}

#aprender{
    background-color: #91f8be6d;
    border-radius: 10px;
    
}



#aprender>p{
    text-indent: 20px;
    text-align: left;
    padding: 10px 10px;
    font-size: 18px;
}
#aprender-externa>p
{
    text-indent: 20px;
    text-align: left;
    padding: 10px 10px;
    font-size: 18px;
}
a:hover{
    background-color: #376049;
    padding: 10px 10px;
    border-radius: 5px;
}
footer{
    background-color: #186239;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    color: white;
}
