@charset "UTF-8";
body{
    background-color: #84E1AD;

}
header{
    background-color: #2C9D5E;
    padding: 10px 10px;
    color: white;
    text-align: center;

    
}
header > p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
nav{
    text-align: left;
    color: white;
    text-align: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
nav > a {
    margin-right: 20px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
section#mascote > h2{
    font-family: fontes/idroid/IDroid
    
}
main{
    background-color: white;
    width:600px;
    height: 800px;
    text-align: center;
    margin: auto;
    padding: 10px 10px;

}