@charset "UTF-8";
@font-face {
    font-family: 'IDroid';
    src: url('fontes/IDroid.otf');
}
body{
    background-color: #84E1AD;
    
    

}
header{
    background-color: #2C9D5E;
    padding: 10px 10px;
    color: white;
    text-align: center;
    width:100% ;
    padding: 10px 10px;
    

    
}
header > p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    
}
nav{
    text-align: left;
    color: white;
    text-align: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
nav > a {
    margin-right: 20px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
section.h3> h3{
    font-family: IDroid, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #186239;
    background: linear-gradient(45deg, #2c9d5f32, white);
    padding-left: 10px;
    
    
    
    
}
section.h3> p{
    text-indent: 20px;
    text-align: left;
    font-size: 18px ;
    text-align: justify;
}
    
section#historia > h2{
    font-family: IDroid, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #186239;

}
section#historia >p{
     text-indent: 20px;
    text-align: left;
    font-size: 18px ;
    text-align: justify;

}

main{
    background-color: white;
    width:900px;
    height: 3100px;
    text-align: center;
    margin: auto;
    padding: 10px 10px;

}
picture>p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
