@charset "UTF-8";
@font-face {
    font-family: 'IDroid';
    src: url('fontes/IDroid.otf');

}
body{
    background-color: #84E1AD;
    max-width: 100%;
    max-height: 100%;
    
    

}
header{
    background-color: #2C9D5E;
    padding: 10px 10px;
    color: white;
    text-align: center;
    width:100% ;
    padding: 10px 10px;
   
    

    
}
header > p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    
}
nav{
    text-align: left;
    color: white;
    text-align: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
nav > a {
    margin-right: 20px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.h3> h3{
    font-family: IDroid, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #186239;
    background: linear-gradient(45deg, #2c9d5f32, white);
    padding-left: 10px;
    
    
    
    
}
.h3> p{
    text-indent: 20px;
    text-align: left;
    font-size: 18px ;
    text-align: justify;
}
    
section#historia > h2{
    font-family: IDroid, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #186239;

}
section#historia >p{
     text-indent: 20px;
    text-align: left;
    font-size: 18px ;
    text-align: justify;

}
#video {
    background-color: #186239;
    padding: 20px 10px;
}
section>iframe{
    max-width: 100%;
    max-height: 100%;
}
#aprender-mais{
    background-color: white;
    max-width: 100%;
    margin-right: 100%;
    
}

section>h4 {
    background-color: #39cc7b;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    text-align: left;

}

#aprender{
    background-color: #91f8be6d;
    border-radius: 10px;
    
}

    
    

main{
    background-color: white;
    width:100%;
    max-width: 800px;
    height: auto;
    text-align: center;
    margin: auto;
    padding: 10px 10px;

}
picture>p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list {
  list-style: none; 
  padding-left: 10px;
  text-align: left;
  padding:0px 10px 20px 10px ;
}

.list li::before {
  content: "✔ ";
  color: black;
  font-weight: bold;
  
}

#aprender>p{
    text-indent: 20px;
    text-align: left;
    padding: 10px 10px;
    font-size: 18px;
    
   

}
